body {
    margin: 0;
}
.carousel {
    max-width: 800px;
    position: relative;
}
.carousel-item {
    display: none;
}
.carousel-item-hidden {
    display: none;
}
 .carousel-item-visible {
    display: block;
}

.carousel-item img {
    width: 100%;
    height: 40vh;
    max-width: 800px;

}



.carousel-actions{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.carousel-btn {
    border: 0;
    background: black;
    border-radius: 50px;
    width: 2em;
    height: 2em;
    display: grid;
    place-items: center;
    padding: 0;
    margin: 0 1em;
    cursor: pointer;
}
.round {
    width: .8em;
    height: .8em;
    background-color: white;
    border-radius: 50%;
}


